# Исключаем виртуальное окружение
venv/

# Исключаем базу данных SQLite
db.sqlite

# Исключаем __pycache__ и *.pyc файлы
__pycache__/
*.pyc

# Исключаем файлы настроек IDE (например, для PyCharm)
.idea/

# Исключаем файлы конфигурации Flask
instance/

# Исключаем файлы логов
logs/


